:root {
  --dark-grey: rgb(99, 99, 99);
  --medium-grey: rgb(136, 136, 136);
  --light-grey: rgb(190, 190, 190);
  --add-line-height: 1.5;
}

header {
  display: flex;
  justify-content: right;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

nav {
  padding: .05rem .5rem;
}

nav ul {
  display: flex;
}

nav li:not(:first-of-type) {
  margin-left: 1rem;
}

nav li {
  list-style: none;
}

