:root {
  --dark-grey: rgb(99, 99, 99);
  --medium-grey: rgb(136, 136, 136);
  --light-grey: rgb(190, 190, 190);
  --add-line-height: 1.5;
}

header {
  display: flex;
  justify-content: right;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

nav {
  padding: .05rem .5rem;
}

nav ul {
  display: flex;
}

nav li:not(:first-of-type) {
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

section,
.wrapper {
  display: grid;
}

section {
  border-top: 1px solid var(--medium-grey);
}

.wrapper {
  text-align: center;
  justify-items: center;
  line-height: var(--add-line-height);
  row-gap: var(--row-gap);
}

.profile-banner {
  padding: 2rem 0;
}

img {
  max-width: 40%;
  height: auto;
}